h1 {
    color: red;
}
body {
            background-color: green;
            color: yellow;
}
h1 {
    color: greenyellow;
}
.flex center {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#intro {
    background-color: green;
}
.hidden {
    display: none;
}
p {
    color: salmon;
}